.table {
  width: 100%;
}
tr.mat-header-row {
  height: 40px !important;
}

.country-list {
    cursor: pointer;
}
.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 10px;
  }

  .setmiddle{
    margin-left: 400px;
  }

  